<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width">
		<title>Castle Duel</title>
		<!-- 图标和样式库 -->
		<link href="https://fonts.googleapis.com/css?family=Signika+Negative:600" rel="stylesheet">
		<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.bundle.css %>" />
	</head>

	<body>
		<!-- 前置 JavaScript 库 -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/tween/tween.min.js"></script>
		<!-- 笔记本应用 -->
		<div id="app"></div>

		<!-- 我的 JavaScript 文件 -->
		<script src="<%= htmlWebpackPlugin.files.chunks.bundle.entry %>"></script>
	</body>
</html>
